<!DOCTYPE html>
<html>
<head>
	<title>My First Webpage</title>
</head>
<body>

    <div class="yR1fYc" jsaction="click:O1htCb;gP4E0b:O1htCb;DIjhEc:YmNhJf;" jsname="BXUrOb">
        <div class="mxvQLc ceis6c uj4xv uVdL1c A8qKrc" jsname="HSrbLb">
            <div class="x8klId">
                <div class="EbY4Pc P2UJoe" role="presentation" style="--travel-primitives-themeable-image-default: url(https://www.gstatic.com/flights/airline_logos/70px/VJ.png); --travel-primitives-themeable-image-dark: url(https://www.gstatic.com/flights/airline_logos/70px/dark/VJ.png);"></div>
            </div>
            <div class="OgQvJf nKlB3b">
                <div class="x8klId I11szd">
                    <div class="EbY4Pc P2UJoe" role="presentation" style="--travel-primitives-themeable-image-default: url(https://www.gstatic.com/flights/airline_logos/70px/VJ.png); --travel-primitives-themeable-image-dark: url(https://www.gstatic.com/flights/airline_logos/70px/dark/VJ.png);"></div>
                </div>
                <div class="Ir0Voe">
                    <div class="zxVSec YMlIz tPgKwe ogfYpf">
                        <span class="mv1WYe" aria-label="Leaves Noi Bai International Airport at 2:45 PM on Thursday, May 11 and arrives at Phu Quoc International Airport at 5:00 PM on Thursday, May 11.">
                            <span jscontroller="E0AZj" jsaction="wGOFk:pCNdcd;AHEEwb:QsRKXb;DJL8Fd:pCNdcd;z0rlDb:QsRKXb;" data-position="1" data-caret-position="2" jsshadow>
                                <span jsslot>
                                    <span jscontroller="cNtv4b" jsaction="focus:AHmuwe; blur:O22p3e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;" aria-describedby="gEvJbfi34" tabindex="-1" aria-label="Departure time: 2:45 PM.">
                                        <span aria-label="Departure time: 2:45 PM." role="text">2:45 PM</span>
                                    </span>
                                </span>
                                <div jsname="bN97Pc" id="gEvJbfi34" style="display:none">
                                    <span class="eoY5cb">2:45 PM on Thu, May 11</span>
                                </div>
                            </span>
                             &ndash; 
                            <span jscontroller="E0AZj" jsaction="wGOFk:pCNdcd;AHEEwb:QsRKXb;DJL8Fd:pCNdcd;z0rlDb:QsRKXb;" data-position="1" data-caret-position="2" jsshadow>
                                <span jsslot>
                                    <span jscontroller="cNtv4b" jsaction="focus:AHmuwe; blur:O22p3e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;" aria-describedby="gEvJbfi35" tabindex="-1" aria-label="Arrival time: 5:00 PM.">
                                        <span aria-label="Arrival time: 5:00 PM." role="text">5:00 PM</span>
                                    </span>
                                </span>
                                <div jsname="bN97Pc" id="gEvJbfi35" style="display:none">
                                    <span class="eoY5cb">5:00 PM on Thu, May 11</span>
                                </div>
                            </span>
                        </span>
                    </div>
                    <div class="sSHqwe tPgKwe ogfYpf">
                        <span>VietJet Air</span>
                    </div>
                </div>
                <div class="Ak5kof">
                    <div class="gvkrdb AdWm1c tPgKwe ogfYpf" aria-label="Total duration 2 hr 15 min.">2 hr 15 min</div>
                    <span class="sSHqwe tPgKwe ogfYpf" aria-hidden="true">
                        <span jscontroller="E0AZj" jsaction="wGOFk:pCNdcd;AHEEwb:QsRKXb;DJL8Fd:pCNdcd;z0rlDb:QsRKXb;" data-position="2" data-caret-position="2" data-max-width="400px" jsshadow>
                            <span jsslot>
                                <span jscontroller="cNtv4b" jsaction="focus:AHmuwe; blur:O22p3e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;" aria-describedby="gEvJbfi36" tabindex="-1" aria-label="">HAN</span>
                            </span>
                            <div jsname="bN97Pc" id="gEvJbfi36" style="display:none">
                                <span class="eoY5cb">Noi Bai International Airport</span>
                            </div>
                        </span>
                        &ndash;
                        <span jscontroller="E0AZj" jsaction="wGOFk:pCNdcd;AHEEwb:QsRKXb;DJL8Fd:pCNdcd;z0rlDb:QsRKXb;" data-position="2" data-caret-position="2" data-max-width="400px" jsshadow>
                            <span jsslot>
                                <span jscontroller="cNtv4b" jsaction="focus:AHmuwe; blur:O22p3e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;" aria-describedby="gEvJbfi37" tabindex="-1" aria-label="">PQC</span>
                            </span>
                            <div jsname="bN97Pc" id="gEvJbfi37" style="display:none">
                                <span class="eoY5cb">Phu Quoc International Airport</span>
                            </div>
                        </span>
                    </span>
                </div>
                <div class="BbR8Ec">
                    <div class="EfT7Ae AdWm1c tPgKwe">
                        <span class="ogfYpf" aria-label="Nonstop flight.">Nonstop</span>
                    </div>
                    <div class="sSHqwe tPgKwe ogfYpf" aria-label=""></div>
                </div>
                <div class="y0NSEe V1iAHe tPgKwe ogfYpf">
                    <div jscontroller="NiHijf" jsaction="click:KjsqPd;" role="button" tabindex="0" aria-label="Carbon emissions estimate: 93 kilograms. +6% emissions. Learn more about this emissions estimate" aria-haspopup="dialog" class="NZRfve zlyfOd" data-relativeemissions="3" data-co2currentflight="93000" data-co2typical="88000" data-co2savings="5000" data-passengers="1" data-percentagediff="6" data-seatingclass="1" data-relativeemissionsknown jsname="Prr8lb">
                        <div class="O7CXue" aria-hidden="true">
                            <div class="AdWm1c lc3qH ogfYpf  Jucbnc PtgtFe">
                                93 kg CO
                                <sub>2</sub>
                            </div>
                        </div>
                        <div class="RioxB GE8dBb" aria-hidden="true">
                            <div class="N6PNV ogfYpf juCwOd BYjnCf">+6% emissions</div>
                            <svg width="12" height="12" viewBox="0 0 24 24" focusable="false" class="tcVco NMm5M">
                                <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="U3gSDe">
                    <div class="BVAVmf I11szd POX3ye">
                        <div class="JMnxgf"></div>
                        <div class="YMlIz FpEdX jLMuyc">
                            <span data-gs="CjRIcnVhT045azRkaGtBZE5OWEFCRy0tLS0tLS0tLS10Z2xwOUFBQUFBR1JZWUQ0SkZFdUFBEgVWSjQ5ORoLCIjBexAAGgNWTkQ4HXC2Qw==" aria-label="2023560 Vietnamese dong" role="text">₫2,023,560</span>
                        </div>
                    </div>
                    <div class="N872Rd sSHqwe I11szd POX3ye">round trip</div>
                </div>
            </div>
            <div class="fBultf kvnVYc Q7Ypyb">
                <div class="x8klId I11szd">
                    <div class="EbY4Pc P2UJoe" role="presentation" style="--travel-primitives-themeable-image-default: url(https://www.gstatic.com/flights/airline_logos/70px/VJ.png); --travel-primitives-themeable-image-dark: url(https://www.gstatic.com/flights/airline_logos/70px/dark/VJ.png);"></div>
                </div>
                <div class="rarCGf">
                    <div class="S90skc y52p7d ogfYpf">
                        <span class="ogfYpf">Departure</span>
                        <span class="qeoz6e HKHSfd" aria-label=" "></span>
                        <span>Thu, May 11</span>
                    </div>
                    <div class="y0NSEe axwZ3c y52p7d ogfYpf">
                        <div jscontroller="NiHijf" jsaction="click:KjsqPd;" role="button" tabindex="0" aria-label="Carbon emissions estimate: 93 kilograms. +6% emissions. Learn more about this emissions estimate" aria-haspopup="dialog" class="NZRfve zlyfOd" data-relativeemissions="3" data-co2currentflight="93000" data-co2typical="88000" data-co2savings="5000" data-passengers="1" data-percentagediff="6" data-seatingclass="1" data-relativeemissionsknown jsname="Prr8lb">
                            <div class="O7CXue" aria-hidden="true">
                                <div class="AdWm1c lc3qH ogfYpf  Jucbnc PtgtFe">
                                    93 kg CO
                                    <sub>2</sub>
                                </div>
                            </div>
                            <div class="RioxB GE8dBb" aria-hidden="true">
                                <div class="N6PNV ogfYpf juCwOd BYjnCf">+6% emissions</div>
                                <svg width="12" height="12" viewBox="0 0 24 24" focusable="false" class="tcVco NMm5M">
                                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="xofKJf"></div>
                    </div>
                    <div jsname="j4zbVc"></div>
                    <div class="BroJf y52p7d" jscontroller="DKc10d" jsaction="JIbuQc:M4KNod" data-slice-id="lkOukb" data-slice-index="0" jsname="XTYNyb" ssk='8:0:lkOukb'>
                        <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb" data-is-touch-wrapper="true">
                            <button class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-INsAgc VfPpkd-LgbsSe-OWXEXe-dgl2Hf Rj2Mlf OLiIxf PDpWxe P62QJc LQeN7 my6Xrf wJjnG dA7Fcf" jscontroller="soHxf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" data-idom-class="Rj2Mlf OLiIxf PDpWxe P62QJc LQeN7 my6Xrf wJjnG dA7Fcf" aria-label="Select flight" jslog="8478;ved:2ahUKEwiRy8aU2OT-AhUSAbwKHcPVC9cQnkIoAHoECAMQKg;track:click">
                                <div class="VfPpkd-Jh9lGc"></div>
                                <div class="VfPpkd-J1Ukfc-LhBDec"></div>
                                <div class="VfPpkd-RLmnJb"></div>
                                <span jsname="V67aGc" class="VfPpkd-vQzf8d" aria-hidden="true">Select flight</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="XWuBZb">
                    <div class="BVAVmf I11szd Qr8X4d">
                        <div class="JMnxgf"></div>
                        <div class="YMlIz FpEdX jLMuyc">
                            <span data-gs="CjRIcnVhT045azRkaGtBZE5OWEFCRy0tLS0tLS0tLS10Z2xwOUFBQUFBR1JZWUQ0SkZFdUFBEgVWSjQ5ORoLCIjBexAAGgNWTkQ4HXC2Qw==" aria-label="2023560 Vietnamese dong" role="text">₫2,023,560</span>
                        </div>
                    </div>
                    <div class="N872Rd sSHqwe I11szd Qr8X4d">round trip</div>
                </div>
            </div>
            <div class="wtdjmc YMlIz ogfYpf tPgKwe" aria-label="Departure time: 2:45 PM.">2:45 PM</div>
            <div class="G2WY5c sSHqwe ogfYpf tPgKwe">HAN</div>
            <img src="//www.gstatic.com/flights/app/2x/arrow_0.png" alt class="BeS94 tPgKwe"/>
            <div class="XWcVob YMlIz ogfYpf tPgKwe" aria-label="Arrival time: 5:00 PM.">5:00 PM</div>
            <div class="c8rWCd sSHqwe ogfYpf tPgKwe">PQC</div>
            <div class="NFxjic ogfYpf tPgKwe"></div>
            <div class="BVAVmf tPgKwe">
                <div class="JMnxgf"></div>
                <div class="YMlIz FpEdX jLMuyc">
                    <span data-gs="CjRIcnVhT045azRkaGtBZE5OWEFCRy0tLS0tLS0tLS10Z2xwOUFBQUFBR1JZWUQ0SkZFdUFBEgVWSjQ5ORoLCIjBexAAGgNWTkQ4HXC2Qw==" aria-label="2023560 Vietnamese dong" role="text">₫2,023,560</span>
                </div>
            </div>
            <div class="N872Rd sSHqwe tPgKwe">round trip</div>
            <div class="gKm0ye">
                <div class="hF6lYb sSHqwe ogfYpf tPgKwe">
                    <span class="bhPWt">
                        <div class="EbY4Pc P2UJoe" role="presentation" style="--travel-primitives-themeable-image-default: url(https://www.gstatic.com/flights/airline_logos/70px/VJ.png); --travel-primitives-themeable-image-dark: url(https://www.gstatic.com/flights/airline_logos/70px/dark/VJ.png);"></div>
                    </span>
                    <span class="rGRiKd">Nonstop</span>
                    <span class="VG3hNb">Nonstop</span>
                    <span class="qeoz6e HKHSfd" aria-label=" "></span>
                    <span>2 hr 15 min</span>
                    <span class="EzfXjb">
                        <span class="qeoz6e HKHSfd" aria-label=" "></span>
                    </span>
                    <span class="TyszJc">
                        <div class="EbY4Pc P2UJoe" role="presentation" style="--travel-primitives-themeable-image-default: url(https://www.gstatic.com/flights/airline_logos/70px/VJ.png); --travel-primitives-themeable-image-dark: url(https://www.gstatic.com/flights/airline_logos/70px/dark/VJ.png);"></div>
                    </span>
                    <span class="h1fkLb">
                        <span>VietJet Air</span>
                    </span>
                </div>
                <div class="TEWJFb tPgKwe">
                    <div jscontroller="NiHijf" jsaction="click:KjsqPd;" role="button" tabindex="0" aria-label="Carbon emissions estimate: 93 kilograms. +6% emissions. Learn more about this emissions estimate" aria-haspopup="dialog" class="NZRfve zlyfOd E8UxCd" data-relativeemissions="3" data-co2currentflight="93000" data-co2typical="88000" data-co2savings="5000" data-passengers="1" data-percentagediff="6" data-seatingclass="1" data-relativeemissionsknown data-ved="2ahUKEwiRy8aU2OT-AhUSAbwKHcPVC9cQp_AHegQIAxAr" jsname="zVc0c">
                        <div class="O7CXue" aria-hidden="true">
                            <div class="AdWm1c lc3qH ogfYpf  Jucbnc PtgtFe">
                                93 kg CO
                                <sub>2</sub>
                            </div>
                        </div>
                        <div class="RioxB GE8dBb" aria-hidden="true">
                            <div class="N6PNV ogfYpf juCwOd BYjnCf">+6% emissions</div>
                            <svg width="12" height="12" viewBox="0 0 24 24" focusable="false" class="tcVco NMm5M">
                                <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="xofKJf"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
