<!DOCTYPE html>
<html>
<head>
	<title>Flight Information</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="header">
		<h1>Flight Information</h1>
	</div>
	<div id="content">
		<form>
			<label for="from">From:</label>
			<input type="text" id="from" name="from">
			<label for="to">To:</label>
			<input type="text" id="to" name="to">
			<label for="date">Date:</label>
			<input type="date" id="date" name="date">
			<input type="submit" value="Search">
		</form>
		<table>
			<tr>
				<th>Airline</th>
				<th>Flight Number</th>
				<th>Departure</th>
				<th>Arrival</th>
				<th>Status</th>
			</tr>
			<tr>
				<td>United Airlines</td>
				<td>UA1234</td>
				<td>10:00 AM</td>
				<td>12:00 PM</td>
				<td>On Time</td>
			</tr>
			<tr>
				<td>American Airlines</td>
				<td>AA5678</td>
				<td>2:30 PM</td>
				<td>4:30 PM</td>
				<td>Delayed</td>
			</tr>
			<!-- More rows here -->
		</table>
	</div>
</body>
</html>
